body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.header {
  border-bottom: none;
  margin: 0 auto;
  position: absolute;
  z-index: 1000;
  width: 100%;
  padding: 10px 10%;
}

.header a {
    color: black;
    font-size: 18px;
}

#Somos {
  margin-top: 50px;
  margin-bottom: 50px;
}

#Somos > div {
  padding: 40px;
  margin-top: 40px;
}

#Somos p, #Somos h2 {
  text-align: center;
}
.nav > li {
  color: black;
}

.navbar {
  margin-bottom: 0px;
}

.full-img {
  width:100%;
}

@media (min-width: 992px) {
  .full-img {
    height: 89% !important;
  }
}

@media (min-width: 1200px) {
  #Somos > div > div:first-child {
    border-right: 1px solid blue;
  }
}

.marketing {
  background-color: white;
  color: black;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #4BC3B4;
}

.marketing h2 {
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
}

.marketing .description {
  padding: 10px;
}

.marketing .row div {
  margin-top: 30px;
  margin-bottom: 50px;
  position: relative;
  height: 380px;
}

.marketing .button {
  position: absolute;
  bottom: 0;
  margin: 0px auto;
  width: 100%;
}

.marketing .row div img {
  width: 100px;
  height: 100px;
}

.row {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.btn-products {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #ccc;
}

.suscription {
  text-align: center;
  margin: 40px 10px;
  padding-top: 80px;
  padding-bottom: 80px;
}

#msg {
  font-family: inherit;
  font-size: 1.53em;
  letter-spacing: 0.05em;
  margin: 10px 0px;
  line-height: initial;
  font-weight: normal;
}

#email {
  font-size: 16px;
  margin: 10px 5px;
  padding: 10px;
  width: 18em;
  font-family: inherit;
}


.button-orange {
  background-color: #F06226;
}

.contact {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: white;
  color: white;
  background-color: #4BC3B4;
}

@media (max-width: 768px) {
  .featurette-map {
    width: 350px;
    height: 300px;
  }
}

@media (min-width: 769px ) and (max-width: 1200px) {
  .featurette-map {
     width: 400px;
     height: 400px;
  }

  .marketing .row div {
    height: 300px;
  }
}


.footer {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #F6F6F6;
  width: 100%;
}

footer  {
  width: 80%;
  margin: 0 auto;
}
