<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!--link rel="stylesheet" href="styles/cover.css"-->
    <link rel="stylesheet" href="styles/kmgsite.css">
    <!-- endbuild -->
  </head>
  <body ng-app="kmgSiteApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container-fluid separated-bottom">
          <div class="header">
            <nav class="navbar">
              <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button ng-click="" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="brand" href="#">Kmg System</a>
                </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right masthead-nav">
                  <li><a href="/">Inicio</a></li>
                  <li><a href="#Somos">Somos</a></li>
                  <li><a href="#Productos">Productos</a></li>
                  <li><a href="/docs/Lista_de_precios.pdf">Lista de Precios</a></li>
                  <li><a href="Contactos">Contacto</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
          </div>

      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
            <img src="/images/Imagen1.jpg" class="full-img" alt="...">
    </div>
    <div class="item">
            <img src="/images/Imagen2.jpg" class="full-img" alt="...">
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
      </div>
      <div id="Somos">
  <div class="row">
    <div class="col-lg-6">
      <h2>Misión</h2>
      <p>Colocar en manos del usuario las herramientas necesarias para aprovechar al máximo las bondades de cada sistema o producto, y así automatizar el proceso administrativo.</p>
    </div>
    <div class="col-lg-6">
      <h2>Visión</h2>
      <p>Desarrollar software de marca propia</p>
    </div>
  </div>
      </div>
      <div id="Productos" class="marketing">
  <div class="row">
    <div class="col-lg-4">
            <img class="img-circle" src="/images/Contabilidad_Icono.png" alt="Generic placeholder image" >
            <h2>Contabilidad</h2>
            <p class="description">CONTPAQi® Contabilidad es el sistema contable integrador favorito de los Contadores que facilita el proceso de la información contable, financiera y fiscal de tu empresa, así como la recepción de tus comprobantes fiscales digitales.</p>
            <p class="button"><a class="btn btn-default btn-products" href="/docs/Carta_tecnica_Contabilidad_Bancos_770.pdf" target="_blank" role="button">Ver detalles</a></p>
    </div>
    <div class="col-lg-4">
            <img class="img-circle" src="/images/Bancos_Icono.png" alt="Generic placeholder image" >
            <h2>Bancos</h2>
            <p class="description">CONTPAQi® Bancos es el sistema con el que tu dinero siempre está a la vista, porque te ayuda a controlar tus ingresos y egresos, administrar tus cuentas bancarias y flujo de efectivo integrando la información de tus comprobantes fiscales digitales.</p>
            <p class="button"><a class="btn btn-default btn-products" href="/docs/Carta_tecnica_Contabilidad_Bancos_770.pdf" target="_blank" role="button">Ver detalles</a></p>
    </div>
    <div class="col-lg-4">
            <img class="img-circle" src="/images/Comercial_Icono.png" alt="Generic placeholder image" >
            <h2>Comercial</h2>
            <p class="description"> CONTPAQi® Comercial es el sistema que facilita la toma oportuna de decisiones, al adaptarse a tu administración e integrar tus procesos de venta, compras, inventarios, cuentas por cobrar, cuentas por pagar y facturación electrónica.</p>
            <p class="button"><a class="btn btn-default btn-products" href="/docs/Carta_tecnica_Comercial_111.pdf" target="_blank" role="button">Ver detalles</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
            <img class="img-circle" src="/images/Facturaelectronica_Icono.png" alt="Generic placeholder image" >
            <h2>Factura electrónica</h2>
            <p class="description">CONTPAQi® Factura electrónica es el sistema que facilita la emisión, timbrado y recepción de  Comprobantes Fiscales Digitales por Internet (CFDI) y el control de las cuentas por cobrar, para que puedas agilizar tus transacciones comerciales y ser más competitivo.</p>
            <p class="button"><a class="btn btn-default btn-products" href="/docs/Carta_Tecnica_CONTPAQ_i_FACTURA_ELECTRONICA_261.pdf" target="_blank" role="button">Ver detalles</a></p>
    </div>
    <div class="col-lg-4">
            <img class="img-circle" src="/images/Nominas_Icono.png" alt="Generic placeholder image" >
            <h2>Nóminas</h2>
            <p class="description">CONTPAQi® Nóminas es el sistema para la administración de la nómina que se adapta de manera fácil a tus procesos de cálculo, te ayuda a cumplir con todas las obligaciones de ley y hacer un pago a tiempo a tus empleados.</p>
            <p class="button"><a class="btn btn-default btn-products" href="/docs/Carta_Tecnica_Nominas_643.pdf" target="_blank" role="button">Ver detalles</a></p>
    </div>
    <div class="col-lg-4">
            <img class="img-circle" src="/images/Puntoventa_Icono.png" alt="Generic placeholder image" >
            <h2>Punto de Venta</h2>
            <p class="description">CONTPAQi® Punto de venta es el sistema que integra las operaciones de venta al detalle ayudándote a controlar tus inventarios y  cuidar tu caja, además de facilitar la facturación electrónica.</p>
            <p class="button"><a class="btn btn-default btn-products" href="#" role="button">Ver detalles</a></p>
    </div>
  </div>
      </div>
      <div class="suscription">
  <div class="message">
          <label id="msg">Suscríbete y recibe nuestras promociones</label>
          <p>No te enviaremos spam ni compartiremos tu email con terceros.</p>
  </div>
  <form action="//codeandomexico.us4.list-manage.com/subscribe/post?u=9999e133ff73ed69bbddc6af9&amp;id=fc526c99c5" class="input-lg form-inline" method="post" name="mc-embedded-subscribe-form" target="_black" role="form" novalidate="">
          <div class="mail form-group">
            <input id="email" class="form-control" type="email" value="" name="EMAIL" placeholder="minombre@ejemplo.com" required="">
          </div>
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_edb21ee4f7098f8db239eea63_10162bafef" tabindex="-1" value=""></div>
          <div class="send form-group">
            <input type="submit" class="button button-orange" id="suscribe_me" value="Suscríbeme" name="suscribe">
          </div>
  </form>
      </div>
      <div id="Contactos" class="contact">
  <div class="row">
          <div class="col-md-7">
            <h2 class="featurette-heading">Contacto</h2>
            <p class="lead">Teléfono: 01 222 2495989</p>
      <p class="lead">Correo: ventas@kmgsys.com</p>
    </div>
          <div class="col-md-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d942.76827025755!2d-98.23497129999996!3d19.060524200000017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc6db001e1c97%3A0xebf2998add9d7899!2sCalle+53+Sur+317%2C+Reforma+Sur%2C+72160+Puebla%2C+Pue.!5e0!3m2!1sen!2smx!4v1426219837346" width="500" height="450" frameborder="0" style="border:0"></iframe>
          </div>
  </div>
      </div>
      <div class="footer row">
  <footer>
          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>© 2014 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>
      </div>
    </div>
  </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
</body>
</html>
