.full-img {
  width:100%;
}

@media (min-width: 992px) {
  .full-img {
    height: 89% !important;
  }
}

.marketing {
  background-color: white;
  color: black;
  padding-top: 40px;
  padding-bottom: 40px;
}

.row {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.btn-products {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #ccc;
}

.suscription {
  text-align: center;
  margin: 40px 10px;
}

#msg {
  font-family: inherit;
  font-size: 1.53em;
  letter-spacing: 0.05em;
  margin: 10px 0px;
  line-height: initial;
  font-weight: normal;
}

#email {
  font-size: 16px;
  margin: 10px 5px;
  padding: 10px;
  width: 18em;
  font-family: inherit;
}


.button-orange {
  background-color: #F06226;
}

.contact {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  color: black;
}

@media (max-width: 768px) {
  .featurette-map {
    width: 350px;
    height: 300px;
  }
}

@media (min-width: 769px) {
  .featurette-map {
     width: 400px;
     height: 400px;
  }
}


footer {
  margin: 80px;
}
